@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    user-select: none;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}

body{
    background: linear-gradient(149.11deg, #B03545 0%, #D41F37 100%);
    overflow-x: hidden;
}


p.validar {
    color: red;
    font-size: 15px;
    display: none;
}
p.validar.active{
    display: block;
}


main{
    max-width: 100vw;
    height: 99vh;
}

header {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
}

header img {
    padding:1rem 3rem;
}

.container__form{
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}



form {
    width: 35%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}

.text-form{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h2{
    padding: .9rem;
    text-align: center;
    font-size: 1.4rem;
    

}

p{
  text-align: center;
  padding: 0.7rem 2rem;
  font-size: 0.9rem;
}

.single-input{
    position: relative;
    margin: 24px 0;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single-input label{
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: #b3b3b3;
    cursor: text;
    transition: 0.2s ease-in-out;
    max-width: 200px;
    margin-bottom: 14px;
    text-align: center;
}

.input{
    width: 79%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid rgb(200,200,200);
    outline: 0;
    font-size: 16px;
    color: rgb(80,80,80);
    transition: 0.5s transform;
}

.input:focus,
.input:valid{
    border-bottom: 1px solid #000;
}
.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #000;
}


.links{
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.primario {
    width: 72%;
    background-color: #B03545;
    color: #fff;
    transition: background-color .3s;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0.9rem 0 ;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;

   
}

.primario:hover{
   background-color: #D41F37;
}
.secundario {
    width: 72%;
    background-color: transparent;
    transition:border-radius .5s;
    color: #B03545;
    margin-bottom: 10px;
    border: 1px solid #B03545;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0.8rem 0 ;
    border-radius: 5px;
   
}



.terciario{
  color: #B03545;
  width: 72%;
  margin-bottom: 10px;
}

.terciario:hover{
  text-decoration: underline;
}


@media screen and (max-width:834px) {

  form{
    width: 60%;
    height: 80%;
  }
  p{
    padding: .5rem;
  }
  

}

@media screen and (max-width:428px) {
  

  form{
    width: 80%;
    height: 97%;
  }

  h2{
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
  }

  p{
    font-size: 1rem;
  }
}


/* .wrapper {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: #fff;
  display: grid;
  place-items: center;
  transition: opacity .25s, visibility 1s;
}

.fade{
  opacity: 0;
  visibility: hidden;
} */





