@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    user-select: none;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.Iuser {
    font-size: 2.5rem;
    cursor: pointer;
}

.Ilogout{
    color:red;
    transition: color .5s;
    font-size: 1.5rem;

}
.Ilogout:hover{
color: #B03545;
}
.logout{
    display:flex;
    align-items: center;
    justify-content: center;
}
.user{
    width: 340px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

main#blur.active{
filter: blur(20px);
}


.container-1{
    width: 30vw;
    height: 84vh;
    border-right: 1px solid rgba(204, 204, 204, 0.493);
}
.container-2{
    width: 36vw;
    height: 84vh;
    border-right: 1px solid rgba(204, 204, 204, 0.459);
    
}
.container-3{
    width: 30vw;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* ==================== MEUS CARTÔES =================== */

.title{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title strong{
    font-size: 1.3rem;
    padding-left: 2rem;
}

.div-meus-cartoes{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cartao{
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao img {
    position: relative;
}
.cartao p {
    position: absolute;
    color: #fff;
    font-weight: 700;
    font-size: 1.7rem;
}

.gerenciar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gerenciar button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #0009;
    transition: color .2s;

}

.gerenciar button:hover{
    color: #000;
}


/* ============================= SERVIÇOS =================== */


.div-serviços{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.box-serviços{
    width: 90%;
    height: 60%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.box {
    width: 90px;
    height: 90px;
    background: #F5F6FA;
    box-shadow: 14px 15px 8px rgba(0, 0, 0, 0.01), 8px 9px 7px rgba(0, 0, 0, 0.05), 4px 4px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
      
.box p {
    text-align: end;
    font-weight: bold;
    font-size: 0.7rem;
}
      
.box i {
    font-size: 35px;
    color: #B03545;
}


/* ======================== POPUP ====================== */

#popup{
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    
}

#popup.active{
    visibility: visible;
    opacity: 1;
    left: 50%;
    transition: .5s;
} 




 #popup2{
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    padding: 50px;
    background-color:#fff;
    border: 1px solid #ccc;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#popup2.active{
    visibility: visible;
    opacity: 1;
    left: 50%;
    transition: .5s;
} 

.gifCheck{
    max-width: 100%;
    height: auto;
}

.fecharCheck{
    
    width: 95%;
    height: 10%;
    cursor: pointer;    
    background-color: transparent;
    border: 1px solid #B03545;
    color: #B03545;
    font-size: 16px;
    transition: border-radius .5s,
    border .5s;
    font-weight: 500;
    margin-top: 1rem;

}

.fecharCheck:hover{
        border-radius: 14px;
}

.formCheck{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding-top: 2rem;
}






.container-popup{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-pix{
    font-size: 4rem;
    color: #B03545;
}


.form-pix{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



.single-input{
    position: relative;
    margin: 24px 0;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single-input label{
    position: absolute;
    bottom: 10px;
    left: 1px;
    color: #ccc;
    cursor: text;
    transition: 0.2s ease-in-out;
    max-width: 200px;
    margin-bottom: 20px;
    text-align: center;
}


.input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: 0;
    font-size: 16px;
    color: rgb(80,80,80);
    transition: 0.5s transform;
}

.input:focus,
.input:valid{
    border-bottom: 1px solid #000;
}
.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: rgb(80,80,80);
}


.btn-enviar{
    width: 95%;
    height: 14%;
    cursor: pointer;
    background-color: #B03545;
    border: none;
    color: #fff;
    font-size: 16px;
    transition: border-radius .5s,
    background-color .5s;
    font-weight: 500;
    margin: 10px 0;
}

.btn-enviar:hover{
    border-radius: 14px;
}
.btn-fechar{
    width: 95%;
    height: 11%;
    cursor: pointer;    
    background-color: transparent;
    border: 1px solid #B03545;
    color: #B03545;
    font-size: 16px;
    transition: border-radius .5s,
    border .5s;
    font-weight: 500;
}

.btn-fechar:hover{
    border-radius: 14px;
    border: 1px solid #D41F37;
}




/* ========================= TRANSAÇÕES ================= */


.div-transacoes{
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.ver-tudo{
    color: #0005;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    cursor: pointer;

}

.transacao-1{
    width: 90%;
    border-bottom: 1px solid #0003;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;

}

.enviado {
    color: red;
}
.recebido {
    color: green;
}













/* ========================== RESPONSIVE ======================== */

@media screen and (max-width:845px) {
    
    main{
        flex-direction: column;
    }

    .container-1{
        width: 95vw;
   
        border: none;
    
    }
    .container-2{
        width: 95vw;
        border: none;
    
    }

    .box-serviços{
        width: 60%;
        flex-wrap: wrap;
        padding: 2rem 0 ;
    }




    .container-3{
        width: 95vw;
        border: none;
    
    }




}


@media screen and (max-width:480px) {
    
    #popup{
        width: 270px;
    }
    #popup2{
        width: 270px;
    }

    .nome_user{
        display: none;
    }

    .user{
        width: 100px;
    }



}